<h1 class="cityhead"><%= @user.username %></h1>

<p><span class="catheads"> Email </span> <%= @user.email %></p>

<div class="controls">
    <%= link_to 'Edit user', edit_user_path(@user) %>
    <%= button_to 'Delete user', @user, :method => 'delete', :data => { :confirm => 'You sure?'} %>
  </div>
