<h1 class="countryhead"><%= @country.name %></h1>
<p><span class="catheads"> REGION </span> <%= @country.region %></p>
<p><span class="catheads">CURRENCY</span> <%= @country.currency %><p>
<p><span class="catheads">Known for</span> <%= @country.known_for %><p>
