<h1 class="cityhead"><%= @city.name %></h1>

  <p><span class="catheads"> Country </span> <%= @city.country.name%></p>
  <p><span class="catheads"> Language </span> <%= @city.language %> </p>
  <p> <span class="catheads">Attractions</span> <%= @city.attraction %> </p>
