<h2>Where would you like to go next?</h2>
<h5>Place the yellow person on the map to see a destination properly</h5>

<div id="mapcontainer">
  <div id="map"></div>
</div>
<div id="floating-panel">
    <input onclick="clearMarkers();" type=button value="Hide Markers">
    <input onclick="showMarkers();" type=button value="Show All Markers">
  </div>
<script>

  let map;
  let geocoder;
  let myLatLng;
  let markers = <%== @current_user.locations.to_json %>;

  function initMap() {
    geocoder = new google.maps.Geocoder();
    map = new google.maps.Map(document.getElementById("map"), {
      center: {lat: 30, lng: 0 },
      zoom: 2,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    markers.forEach(function (m, i) {
      let latLng = new google.maps.LatLng(m.latitude, m.longitude);
      let marker = new google.maps.Marker({
        position: latLng,
        map: map
      });
      //Info window for new markers
      var infowindow = new google.maps.InfoWindow({
        content: '<h5>' + m.country + '</h5>' + `<p><button id="delete-${m.id}" data-location-id="${m.id}">Delete marker</button></p>
        <label for="visited-${m.id}">Visited?</label><input id="visited-${m.id}" data-location-id="${m.id}" type=checkbox ${m.visited ? 'checked' : ''}/>`,
      });

      google.maps.event.addListener(infowindow, 'domready', function () {
        const deleteMarker = function () {
          const locationID = $(this).data('location-id');
          $.ajax({
            url: '/locations/' + locationID,
            method: 'DELETE'
          });
          infowindow.close();
          marker.setMap(null);
        }

        $('#delete-' + m.id).off('click', deleteMarker).on('click', deleteMarker);

        const toggleVisited = function () {
          const locationID = $(this).data('location-id');
          $.ajax({
            url: '/locations/' + locationID,
            method: 'PUT',
            data: {
              visited: this.checked
            }
          });
        }
        $('#visited-' + m.id).off('click', toggleVisited).on('click', toggleVisited);
      });

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });

      markers[i] = marker;
    })

    map.addListener('click', function(e) {
      placeMarkerAndPanTo(e.latLng, map);
    });
  };

  function placeMarkerAndPanTo(latLng, map) {
    let marker = new google.maps.Marker({
      position: latLng,
      map: map
    });
    map.panTo(latLng);
    markers.push(marker);
    geocoder.geocode({'location': latLng}, function (results, status) {
      console.log( results ); // TODO: look at other results
      const country = results[ results.length - 1 ].formatted_address;

      //info window for existing markers
      $.ajax({
          type: "POST",
          url: '/locations',
          data:  {
            latitude: latLng.lat(),
            longitude: latLng.lng(),
            country: country
          },
      }).done(function (loc) {
        var infowindow = new google.maps.InfoWindow({
          content: '<h3>'+country+'</h3>' + `<p><button id="delete-${loc.id}" data-location-id="${loc.id}">Delete</button></p>` + `<label for="visited-${loc.id}">Visited?</label><input id="visited-${loc.id}" data-location-id="${loc.id}" type=checkbox />`
        });

        google.maps.event.addListener(infowindow, 'domready', function () {
          const deleteMarker = function () {
            const locationID = $(this).data('location-id');
            $.ajax({
              url: '/locations/' + locationID,
              method: 'DELETE'
            });
            infowindow.close();
            marker.setMap(null);
          }
          $('#delete-' + loc.id).off('click', deleteMarker).on('click', deleteMarker);

          const toggleVisited = function () {
            const locationID = $(this).data('location-id');
            $.ajax({
              url: '/locations/' + locationID,
              method: 'PUT',
              data: {
                visited: this.checked
              }
            });
          }
          $('#visited-' + loc.id).off('click', toggleVisited).on('click', toggleVisited);
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      });
    })

    return marker;
  }

  function setMapOnAll(map) {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
    }
  }

  function clearMarkers() {
    setMapOnAll(null);
  }

  // Shows any markers currently in the array.
  function showMarkers() {
    setMapOnAll(map);
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWU51sQzS9yUoJMfeXtXIyu5MG4uSJB9o&callback=initMap" async defer></script>
